<%= form_for(@product) do |f| %>
  <table class="table table-hover table-striped">
    <%= f.label :商品名%><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :价格%><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :销售编号%><br>
    <%= f.number_field :num %>
  </div>
  <div class="actions">
    <%= f.submit nil,:data =>{:"disable-with" => "请稍等。。。"} %>
  </div>
<% end %>
